.main-image {
  width: 100%;
  height: 310px;
}

.about-heading {
  position: absolute;
  top: 21%;
  left: 43%;
  color: white;
  font-size: 60px;
  font-weight: bolder;
  font-family: 'Roboto';
}

.content-container {
  display: flex;
  align-items: center;
}

.slide-in-image {
  width: 50%;
  animation: slideIn 1.0s ease-out;
}

.text-content {
  margin-left: 25px;
  margin-right: 15px;
}
  
@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
